<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SimplrChess</title>
        <meta name="description" content="A Simplr way to play Chess.">
        <meta name="keywords" content="chess, smplr">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">
        <meta name="author" content="ZombieNW">


        <!--These are ordered a specific way-->
        <!--Android JS-->



        <!--<script src = "../assets/androidjs.js"></script>-->



        <!-- App CSS -->
        <link rel="stylesheet" href="css/main.css">
        <!-- JQuery -->
        <script defer src="js/jquery.js"></script>
        <!-- Chessboard CSS (slightly modified)-->
        <link rel="stylesheet" href="css/chessboard.css">
        <!-- Chessboard JS -->
        <script defer src="js/chessboard.js"></script>
        <!-- Chess JS (slightly modified) -->
        <script defer src="js/chess.js"></script>
        <!-- App JS -->
        <script defer src="js/main.js"></script>
    </head>
    <body>
        <!--Splash Screen-->
        <div class="splash">
            <h1 class="fade-in">SmplrChess</h1> <br>
            <p class="fade-in"> By ZombieNW</p>
        </div>
        
        <!--Modal, Not Visible On Init-->
        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="closemodal">&times;</span>

                <h2>Difficulty</h2>
                <label for="search-depth">CPU AI Power:</label>
                <select id="search-depth">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3" selected>3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <br>
                <label for="search-depth-white">Hint AI Power:</label>
                <select id="search-depth-white">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3" selected>3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <br>
                <input type="checkbox" id="showHint" name="showHint" value="showHint"> <label for="showHint">Hints</label>
                <br>
                <!--
                <h2>Rewind</h2>
                <button class="btn btn-danger" id="undoBtn">Undo</button>
                <button class="btn btn-success" id="redoBtn">Redo</button>
                <br>
                -->
                <h2>Credit</h2>

                <p>ZombieNW, Zhang Zeyu, Chessboard.js & Chess.js</p>
            </div>
        </div>

        <div class="topnav">
            <a class="restart" id="restart" href="#">SmplrChess</a>
            <a id="openmodal" href="#">Settings</a>
        </div>

        <div class="boardholder">
            <div id="myBoard"></div>
        </div>

        <div class="footer">
            <p>Advantage: <span id="advantageColor">Neither</span>(+<span id="advantageNumber">0</span>).</p>
            <p><span id="status">Game begun.</span></p>
        </div>
    </body>
</html>